<div class="container">
    <div class="d-flex justify-content-center">
        <div class="search"> 
            <input type="text" class="search-input" name="search" [(ngModel)]='username' (keyup.enter)="findUser()" placeholder="Search username"> 
        </div>
    </div>
</div>
<div class="container user-profile">
    <div class="row">
        <div class="col d-flex justify-content-center text-center">
            <div class="profile-card" style="width: 50rem;">
                <div class="card-body">
                    <img class="image" [src] = "user.avatar_url" width="150" height="150">
                    <h2 class="card-title">{{ user.name }}</h2>
                    <h6 class="card-subtitle mb-2 text-muted">@{{ user.login }}</h6>
                    <p> Joined {{ user.created_at | date }} </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-card">
                                <h2>{{ user.public_repos }}</h2>
                                <p>Repositories</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stats-card">
                                <h2>{{ user.followers }}</h2>
                                <p>Followers</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stats-card">
                                <h2>{{ user.following }}</h2>
                                <p>Following</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>