<div class="container">
    <div class="d-flex justify-content-center">
        <div class="search"> 
            <input type="text" class="search-input" name="search" [(ngModel)]='username' (keyup.enter)="findUser()" placeholder="Search Username"> 
        </div>
    </div>
</div>
<div class="container user-profile" *ngIf="loadState">
    <div class="row">
        <div class="col d-flex justify-content-center text-center">
            <div class="profile-card" style="width: 40rem;">
                <div class="card-body">
                    <img class="image" [src] = "gitUser.avatar_url" width="200" height="200">
                    <h2 class="card-title">{{ gitUser.name }}</h2>
                    <h6 class="card-subtitle mb-2 text-muted">@{{ gitUser.login }}</h6>
                    <p> Joined {{ gitUser.created_at | date }} </p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="stats-card">
                                <h2>{{ gitUser.public_repos }}</h2>
                                <p>Repositories</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stats-card">
                                <h2>{{ gitUser.followers }}</h2>
                                <p>Follower(s)</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="stats-card">
                                <h2>{{ gitUser.following }}</h2>
                                <p>Following</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container repos" *ngIf="loadState">
    <h2>Repositories</h2>
    <p class="text-muted">-----------------------------</p>
    <p>Below is a list of repos found on {{gitUser.name}}'s GitHub page</p>
    <div class="row">
        <div class="col-md-4 d-flex justify-content-center" *ngFor="let repo of userRepos">
            <a [href] = " repo.html_url" target="_blank">
                <div class="repo-card" style="width: 23rem; height: 250px;">
                    <div class="card-body">
                        <h6 class="card-title repo-name"><b><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M19 2.01H6c-1.206 0-3 .799-3 3v14c0 2.201 1.794 3 3 3h15v-2H6.012C5.55 19.998 5 19.815 5 19.01c0-.101.009-.191.024-.273.112-.575.583-.717.987-.727H20c.018 0 .031-.009.049-.01H21V4.01c0-1.103-.897-2-2-2zm0 14H5v-11c0-.806.55-.988 1-1h7v7l2-1 2 1v-7h2v12z"></path></svg> {{ repo.name | uppercase }}</b></h6>
                        <p class="card-text">{{repo.description}}</p>
                        <p class="card-text text-muted updated">Last Updated: {{repo.updated_at | date}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-8">
                                <p class="text-muted size">Size: {{repo.size}} kb</p> 
                            </div>
                            <div class="col">
                                <p class="text-muted language">{{repo.language}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>